@import 'functions/extends';


header {
    text-align: left !important;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content:space-around;
  

    @media (maxwidth: 768px) {
        header {background-color: rgb(107, 107, 37);
    }

}}
    
